@media only screen and (max-width: 949px) {
  .main-nav {
    height: 100vh;
    width: 100vw;
    margin-top: 0; }
  .main-nav-hidden {
    display: none; }
  .mobile-exit {
    margin: 0; }
  .image-grid {
    width: 100vw;
    margin-left: 0vw;
    display: flex;
    flex-direction: column; }
  .image-grid__square {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 90%;
    margin: 1vh auto; }
  .about {
    height: auto; }
  .resume-background {
    display: none; }
  .resume {
    margin: auto;
    width: 90%; }
  .contact-background {
    display: none; }
  .contact-info__header {
    color: #3E423A;
    text-align: center;
    margin-top: 3vh;
    letter-spacing: 3px; }
  .mobile-nav {
    background-color: #6C6E58;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mobile-nav a {
      margin: 0;
      text-decoration: none;
      color: #F4F7D9; } }

@media only screen and (min-width: 950px) {
  .content-size-margin {
    width: 88vw;
    margin-left: 12vw; }
  .mobile-nav {
    display: none; }
  .mobile-exit {
    display: none; }
  .main-nav-hidden {
    display: block; }
  .portfolio-nav {
    margin-top: -100vh; }
  .main-nav {
    display: block;
    z-index: 1;
    width: 12vw;
    background: #6C6E58;
    font-family: "Raleway", sans-serif;
    position: fixed;
    box-shadow: -1px 0px 20px 0px #242424; }
  .main-nav__list {
    margin: 6vh 0 0 0;
    list-style: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 0; }
  .main-nav__item {
    padding-bottom: 20px; }
  .main-nav__link {
    color: #F4F7D9; }
  .about {
    height: 98vh;
    margin-left: 12vw;
    margin-top: 0;
    margin-bottom: 0; }
    .about h2 {
      padding-top: 80px;
      margin-top: 0; }
  .image-grid {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1; }
  .image-grid__square {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 22vw;
    height: 33.3vh; }
  .image-grid__square-info {
    display: none; }
  .image-grid a:hover .image-grid__square-info {
    display: block;
    background-color: rgba(62, 66, 58, 0.741);
    height: 100%;
    width: 100%;
    display: flex; }
    .image-grid a:hover .image-grid__square-info h3 {
      text-align: center;
      color: #A4CFBE;
      font-family: "Raleway", sans-serif; }
  .portfolio-footer {
    margin-top: 100vh; }
  .resume-background {
    margin-left: 5vw;
    width: 95vw;
    height: 80vh;
    background-image: url("../images/IMG_7909.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 78%;
    display: block; }
  .resume-title {
    color: #3E423A;
    font-weight: 900;
    margin-top: -45px;
    letter-spacing: 3px; }
  .resume {
    color: #3E423A;
    line-height: 25px;
    margin: 0 30%;
    width: 50%;
    text-align: center; }
    .resume h3 {
      margin-top: 60px;
      letter-spacing: 3px; }
    .resume .education .education-content {
      margin: 15px; }
    .resume .education .education-content h4,
    .resume .education .education-content p {
      padding: 0;
      margin: 0; }
    .resume .education .education-year {
      font-style: italic; }
    .resume .experience .experience-content {
      margin: 15px; }
    .resume .experience .experience-content h4,
    .resume .experience .experience-content p {
      padding: 0;
      margin: 2px; }
    .resume .experience .experience-position {
      font-weight: 600; }
    .resume .experience .experience-city {
      font-style: italic; }
  .skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px; }
    .skills .social-media {
      width: 40%; }
    .skills .skills-social-media {
      display: flex;
      flex-wrap: wrap; }
      .skills .skills-social-media i {
        width: 25%;
        font-size: 40px; }
  .language p {
    line-height: 10px; }
  .hidden-social-media {
    display: none; }
  i:hover .hidden-social-media {
    display: block;
    background: rgba(128, 128, 128, 0.385);
    padding: 4px;
    border-radius: 4px;
    margin-top: 2px;
    font-size: 15px; }
  .contact-background {
    margin-left: 5vw;
    width: 95vw;
    height: 70vh;
    background-image: url("../images/IMG_8094.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 48px 60%;
    display: block; }
  .contact-info__header {
    color: #F4F7D9;
    width: 200px;
    margin-top: -45px;
    margin-left: 51.5%;
    letter-spacing: 3px; }
  .contact-info {
    min-height: 23vh;
    margin-top: 7vh;
    background-color: rgba(255, 255, 255, 0.704);
    color: #3E423A;
    text-align: center; }
    .contact-info p {
      font-size: 20px; }
    .contact-info .contact-info__icons a {
      color: #3E423A; }
    .contact-info .contact-info__icons i {
      margin-top: 20px;
      font-size: 40px; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

.no-space {
  padding: 0;
  margin: 0; }

.link-no-style {
  text-decoration: none; }

.complete-center {
  align-items: center;
  justify-content: center; }

.underline {
  text-decoration: underline;
  text-decoration-style: double; }

.mobile-exit {
  margin: 20px 0 0 20px;
  font-size: 35px;
  font-weight: 900;
  color: #F4F7D9; }

.main-nav {
  z-index: 1;
  background: #6C6E58;
  font-family: "Raleway", sans-serif;
  position: fixed; }
  .main-nav .main-nav__title {
    margin-bottom: 180px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 5px; }

.main-nav__list {
  justify-content: flex-start;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0; }

.main-nav__item {
  padding-bottom: 20px; }

.main-nav__link {
  color: #F4F7D9; }

.image-grid__square-info {
  display: none; }

.image-grid a:hover .image-grid__square-info {
  display: block;
  background-color: rgba(62, 66, 58, 0.741);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .image-grid a:hover .image-grid__square-info h3 {
    max-width: 70%;
    text-align: center;
    color: #A4CFBE;
    font-family: "Raleway", sans-serif; }

.img-2 {
  background-position: 50%; }

.img-3 {
  background-position: bottom left; }

.img-5 {
  background-position: 50% 20%; }

.img-6 {
  background-position: 50% 90%; }

.img-7 {
  background-size: 150%;
  background-position: right center; }

.img-9 {
  background-position: 50% 90%; }

.img-10 {
  background-position: bottom center; }

.img-11 {
  background-position: 50% 30%; }

.about {
  margin-bottom: 20px;
  background-color: white;
  color: #3E423A; }
  .about h2 {
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center; }
  .about hr {
    width: 90px;
    padding-top: 0;
    text-align: center; }
  .about h3 {
    font-weight: 600;
    text-align: center; }
  .about p {
    width: 80%;
    margin: auto;
    padding: 10px 0;
    line-height: 25px; }

.contact {
  height: 84.5vh; }

.contact-info {
  background-color: rgba(255, 255, 255, 0.704);
  color: #3E423A;
  text-align: center; }
  .contact-info p {
    font-size: 20px; }
  .contact-info .contact-info__icons a {
    color: #3E423A; }
  .contact-info .contact-info__icons i {
    margin-top: 20px;
    font-size: 40px; }

.footer-link p {
  background-color: #3E423A;
  text-align: center;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 0;
  bottom: 0;
  color: rgba(164, 207, 190, 0.378);
  font-size: 14px; }

footer {
  height: 1vh;
  bottom: 0;
  position: relative; }

.icon {
  padding-left: 30px; }

.resume-title {
  color: #3E423A;
  text-align: center;
  letter-spacing: 3px; }

.resume {
  color: #3E423A;
  line-height: 25px;
  text-align: center; }
  .resume h3 {
    margin-top: 60px;
    letter-spacing: 3px; }
  .resume .education .education-content {
    margin: 15px; }
  .resume .education .education-content h4,
  .resume .education .education-content p {
    padding: 0;
    margin: 0; }
  .resume .education .education-year {
    font-style: italic; }
  .resume .experience .experience-content {
    margin: 15px; }
  .resume .experience .experience-content h4,
  .resume .experience .experience-content p {
    padding: 0;
    margin: 2px; }
  .resume .experience .experience-position {
    font-weight: 600; }
  .resume .experience .experience-city {
    font-style: italic; }

.skills {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px; }
  .skills .social-media {
    width: 40%; }
  .skills .skills-social-media {
    display: flex;
    flex-wrap: wrap; }
    .skills .skills-social-media i {
      width: 25%;
      font-size: 40px; }

.language p {
  line-height: 10px; }

.hidden-social-media {
  display: none; }

i:hover .hidden-social-media {
  display: block;
  background: rgba(128, 128, 128, 0.385);
  padding: 4px;
  border-radius: 4px;
  margin-top: 2px;
  font-size: 15px; }
