@import '_variables.scss';

@media only screen and (max-width : 949px) {
    .main-nav {
        height: 100vh;
        width: 100vw;
        margin-top: 0;
    }

    .main-nav-hidden{
        display: none;
    }

    .mobile-exit {
        margin: 0;
    }

    .image-grid {
        width: 100vw;
        margin-left: 0vw;
        display: flex;
        flex-direction: column;
    }
    .image-grid__square {
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        width: 90%;
        margin: 1vh auto;
    }


    .about {
        height: auto;
    }

    .resume-background {
        display: none;
    }

    .resume {
        margin: auto;
        width: 90%;

    }

    .contact-background {
        display: none;
    }

    .contact-info__header {
        color: $color-secondary-text;
          text-align: center;
          margin-top: 3vh;
          letter-spacing: 3px;
      }

    .mobile-nav {
        background-color: $colour-nav-background;
        height: 10vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    
        a {
            margin: 0;
            text-decoration: none;
            color: $colour-primary-text;
        }
    }
}

@media only screen and (min-width : 950px) { 
    // GLOBAL 
    .content-size-margin {
        width: 88vw;
        margin-left: 12vw;
    }

    // NAV
    .mobile-nav {
        display: none;
    }
    .mobile-exit {
        display: none;
    }

    .main-nav-hidden {
        display: block;
    }

    .portfolio-nav {
    margin-top: -100vh;
    }

    .main-nav {
        display: block;
        z-index: 1;
        width: 12vw;
        background: $colour-nav-background; 
        font-family: $font-primary;
        position: fixed;
        box-shadow: -1px 0px 20px 0px rgb(36, 36, 36);}
    
    .main-nav__list {
        margin: 6vh 0 0 0;
        list-style: none;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    
    .main-nav__item {
        padding-bottom: 20px;
    }
    
    .main-nav__link {
        color: $colour-primary-text;
    }

    // ABOUT
    .about {
        height: 98vh;
        margin-left: 12vw;
        margin-top: 0;
        margin-bottom: 0;

        h2 {
            padding-top: 80px;
            margin-top: 0;
        }
    }

    // PORTFOLIO / IMAGE GRID
    .image-grid {
        height: 100vh;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
    }
    
    .image-grid__square {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 22vw;
        height: 33.3vh;
    }
    
    .image-grid__square-info {
        display: none;
    }
    
    .image-grid a:hover .image-grid__square-info {
        display: block;
        background-color: $color-square-background;
        height: 100%;
        width: 100%;
        display: flex;
    
        h3 {
            text-align: center;
            color: $color-tertiary-text;
            font-family: $font-primary;   
        }
    }    

    .portfolio-footer {
        margin-top: 100vh;
    }

    // RESUME 
    .resume-background {
        margin-left: 5vw;
        width: 95vw;
        height: 80vh;
        background-image: url('../images/IMG_7909.jpg');
        background-size: cover;
        background-repeat: no-repeat;   
        background-position: 0 78%;
        display: block;
    }
    
    .resume-title{
        color: $color-secondary-text;
        font-weight: 900;
        margin-top: -45px;
        letter-spacing: 3px;
    }
    
    .resume {
        color: $color-secondary-text;
        line-height: 25px;
        margin: 0 30%;
        width: 50%;
        text-align: center;
      
        h3 {
            margin-top: 60px;
            letter-spacing: 3px;
        }
    
        .education {
            .education-content {
                margin: 15px;
            }
    
            .education-content h4, 
            .education-content p {
                padding: 0;
                margin: 0;
            }
    
            .education-year {
                font-style: italic;
            }
        }
    
        .experience {
            .experience-content {
                margin: 15px;
            }
            .experience-content h4, 
            .experience-content p {
                padding: 0;
                margin: 2px;
            }
    
            .experience-position {
                font-weight: 600;
            }
    
            .experience-city {
                font-style: italic;
            }
        }
    }
    
    .skills {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    
        .social-media {
            width: 40%;
        }
    
        .skills-social-media{
            display: flex;
            flex-wrap: wrap;
            i {
                width: 25%;
                font-size: 40px;
            }
        }
    }
    
    .language p {
       line-height: 10px;
    }
    
    .hidden-social-media {
        display: none;
    }
    
    i:hover .hidden-social-media {
        display: block;
        background: rgba(128, 128, 128, 0.385);
        padding: 4px;
        border-radius: 4px;
        margin-top: 2px;
        font-size: 15px;
    }

    // CONTACT

    .contact-background {
        margin-left: 5vw;
        width: 95vw;
        height: 70vh;
        background-image: url('../images/IMG_8094.jpg');
        background-size: cover;
        background-repeat: no-repeat;   
        background-position: 48px 60%;
        display: block;
    }
    
    .contact-info__header {
      color: $colour-primary-text;
        width: 200px;
        margin-top: -45px;
        margin-left: 51.5%;
        letter-spacing: 3px;
    }
    .contact-info {
        min-height: 23vh;
        margin-top: 7vh;
        background-color: rgba(255, 255, 255, 0.704);
        color: $color-secondary-text;
        text-align: center;
        
        p {
            font-size: 20px;
        }
    
        .contact-info__icons {
            a{
                color: $color-secondary-text;
            }
            
            i{
                margin-top: 20px;
                font-size: 40px;
            }
        }
    }

}