// VARIABLES

// COLOUR - https://color.adobe.com/Optimist-color-theme-10737664/edit/?copy=true&base=3&rule=Custom&selected=2&name=Copy%20of%20Optimist&mode=rgb&rgbvalues=0.4235294117647059,0.43137254901960786,0.34509803921568627,0.24313725490196078,0.25882352941176473,0.22745098039215686,0.2549019607843137,0.45098039215686275,0.47058823529411764,0.6431372549019608,0.8117647058823529,0.7450980392156863,0.9568627450980393,0.9686274509803922,0.8509803921568627&swatchOrder=0,1,2,3,4
$colour-primary-text: #F4F7D9;
$color-secondary-text: #3E423A;
$color-tertiary-text: #A4CFBE;
$colour-nav-background: #6C6E58; 
$color-square-background: rgba(62, 66, 58, 0.741);

// FONT

$font-primary: 'Raleway', sans-serif;