@import '_variables.scss';
@import '_mediaqueries.scss';

// RESET

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}


//GLOBAL
.no-space {
    padding: 0;
    margin: 0;
}

.link-no-style {
    text-decoration: none;
}

.complete-center {
    align-items: center;
    justify-content: center;
}

.underline {
    text-decoration: underline;
    text-decoration-style: double;
}

// NAVBAR



.mobile-exit {
    margin: 20px 0 0 20px;
    font-size:35px;
    font-weight: 900;
    color: $colour-primary-text;
}

.main-nav {
    z-index: 1;
    background: $colour-nav-background; 
    font-family: $font-primary;
    position: fixed;

    .main-nav__title {
        margin-bottom: 180px;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 5px;
    }
}

.main-nav__list {
    justify-content: flex-start;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.main-nav__item {
    padding-bottom: 20px;
}

.main-nav__link {
    color: $colour-primary-text;
}

// IMAGE GRID

.image-grid__square-info {
    display: none;
}

.image-grid a:hover .image-grid__square-info {
    display: block;
    background-color: $color-square-background;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    h3 {
        max-width: 70%;
        text-align: center;
        color: $color-tertiary-text;
        font-family: $font-primary;   
    }
}

.img-2{
    background-position: 50%;
}

.img-3 {
    background-position: bottom left;
}

.img-5 {
    background-position: 50% 20%;
}

.img-6 {
    background-position: 50% 90%;
}

.img-7 {
    background-size: 150%;
    background-position: right center;
}


.img-9 {
    background-position: 50% 90%;
}

.img-10 {
    background-position: bottom center;
}

.img-11 {
    background-position: 50% 30%;
}


// // ABOUT

.about {
    margin-bottom: 20px;
    background-color: white;
    color: $color-secondary-text;

    h2 {
        font-weight: 900;
        letter-spacing: 3px;
        text-align: center;
    }
    hr {
        width: 90px;
        padding-top: 0;
        text-align: center;
    }
    h3 {
        font-weight: 600;
        text-align: center;

    }
    p {
        width: 80%;
        margin: auto;
        padding: 10px 0;
        line-height: 25px;
    }
}

// // CONTACT 

.contact {
    height: 84.5vh;
}

.contact-info {
    background-color: rgba(255, 255, 255, 0.704);
    color: $color-secondary-text;
    text-align: center;
    
    p {
        font-size: 20px;
    }

    .contact-info__icons {

        a{
            color: $color-secondary-text;
        }
        
        i{
            margin-top: 20px;
            font-size: 40px;
        }
    }
}

.footer-link p {
    background-color: $color-secondary-text;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    bottom: 0;
    color: $color-footer-text;
    font-size: 14px;
}
footer {
    height: 1vh;
    bottom: 0;
    position: relative;
}

.icon {
    padding-left: 30px;

}

// RESUME 

.resume-title{
    color: $color-secondary-text;
    text-align: center;
    letter-spacing: 3px;
}

.resume {
    color: $color-secondary-text;
    line-height: 25px;
    text-align: center;
  
    h3 {
        margin-top: 60px;
        letter-spacing: 3px;
    }

    .education {
        .education-content {
            margin: 15px;
        }

        .education-content h4, 
        .education-content p {
            padding: 0;
            margin: 0;
        }

        .education-year {
            font-style: italic;
        }
    }

    .experience {
        .experience-content {
            margin: 15px;
        }
        .experience-content h4, 
        .experience-content p {
            padding: 0;
            margin: 2px;
        }

        .experience-position {
            font-weight: 600;
        }

        .experience-city {
            font-style: italic;
        }
    }
}

.skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .social-media {
        width: 40%;
    }

    .skills-social-media{
        display: flex;
        flex-wrap: wrap;
        i {
            width: 25%;
            font-size: 40px;
        }
    }
}

.language p {
   line-height: 10px;
}

.hidden-social-media {
    display: none;
}

i:hover .hidden-social-media {
    display: block;
    background: rgba(128, 128, 128, 0.385);
    padding: 4px;
    border-radius: 4px;
    margin-top: 2px;
    font-size: 15px;
}
