// VARIABLES

// COLOUR - https://color.adobe.com/Optimist-color-theme-10737664/edit/?copy=true&base=3&rule=Custom&selected=2&name=Copy%20of%20Optimist&mode=rgb&rgbvalues=0.4235294117647059,0.43137254901960786,0.34509803921568627,0.24313725490196078,0.25882352941176473,0.22745098039215686,0.2549019607843137,0.45098039215686275,0.47058823529411764,0.6431372549019608,0.8117647058823529,0.7450980392156863,0.9568627450980393,0.9686274509803922,0.8509803921568627&swatchOrder=0,1,2,3,4
$colour-primary-text: #F4F7D9;
$color-secondary-text: #3E423A;
$color-tertiary-text: #A4CFBE;
$colour-nav-background: #6C6E58; 
$color-square-background: rgba(62, 66, 58, 0.741);

// FONT

$font-primary: 'Raleway', sans-serif;

// RESET

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}


//GLOBAL
.no-space {
    padding: 0;
    margin: 0;
}

.link-no-style {
    text-decoration: none;
}

.complete-center {
    align-items: center;
    justify-content: center;
}

.content-size-margin {
    width: 88vw;
    margin-left: 12vw;
}

.underline {
    text-decoration: underline;
    text-decoration-style: double;
}


//ANGLES
// .top-angle {
//     padding:0;
//     margin: -30vh 0 0 0;
//     // margin: 0 0 0 12vw;
//     border-left-width: 88vw;
//     border-top-width: 185px;
//     border-right-width: 0;
//     border-bottom-width: 0;
//     max-height: 0;
//     border-style: solid solid solid dashed;

// }

// .bottom-angle {
//     padding:0;
//     margin: 0 0 0 12vw;
//     border-width: 0 88vw 185px 0;
//     border-style: solid solid solid none;

// }

// NAVBAR

.main-nav {
    z-index: 1;
    width: 12vw;
    background: $colour-nav-background; 
    font-family: $font-primary;
    position: fixed;
    height: 100vh;
    // margin-top: 0;
    // margin-top: -100vh;
    box-shadow: -1px 0px 20px 0px rgb(36, 36, 36);

    .main-nav__title {
        margin-bottom: 180px;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 5px;
        // align-self: flex-start;
    }
}

.main-nav__list {
    // position: fixed;
    margin: 6vh 0 0 0;
    justify-content: flex-start;
    // align-content: flex-start;
    // border: 1px solid black;
    list-style: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.main-nav__item {
    padding-bottom: 20px;
}

.main-nav__link {
    color: $colour-primary-text;
}

.portfolio-nav {
    margin-top: -100vh;
}

// IMAGE GRID

.image-grid {
    height: 100vh;
    // width: 88vw;
    padding: 0;
    margin-left: 12vw;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.image-grid__square {
    margin: 0;
    padding: 0;
    // background-image: url('../images/attemptedresumepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 22vw;
    height: 33.3vh;
    // border: none;
    // background-attachment: fixed;
  

}

.image-grid__square-info {
    display: none;
}

.image-grid a:hover .image-grid__square-info {
    display: block;
    background-color: $color-square-background;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    h3 {
        max-width: 70%;
        text-align: center;
        // border: 2px solid black;
        color: $color-tertiary-text;
        font-family: $font-primary;   
        // margin-bottom: 25px;
    }
}

.img-2{
    // background-size: 100%;
    background-position: 50%;
}

.img-3 {
    background-position: bottom left;
}

.img-4{

}

.img-5 {
    background-position: 50% 20%;
}

.img-6 {
    background-position: 50% 90%;
}

.img-7 {
    background-size: 150%;
    background-position: right center;
}


.img-9 {
    background-position: 50% 90%;
}

.img-10 {
    background-position: bottom center;
}

.img-11 {
    background-position: 50% 30%;
    // background-size: contain;
}


// // ABOUT

.about {
    // margin-top: 100vh;
    height: 98vh;
    margin-left: 12vw;
    // margin-top: 0;
    margin-bottom: 0;
    // text-align: center;
    background-color: white;
    color: $color-secondary-text;
    // position: absolute;
    box-shadow: 3px 4px 20px 0px rgb(36, 36, 36);


    // border: 2px solid black;
    // background-color: black;
    h2 {
        // margin: 80 0 0 0;
        padding-top: 80px;
        margin-top: 0;
        // margin: 45px 0 0 0;
        font-weight: 900;
        font-size: 35px;
        letter-spacing: 3px;
        text-align: center;
    }
    hr {
        width: 90px;
        padding-top: 0;
        text-align: center;
    }
    h3 {
        font-weight: 600;
        text-align: center;

    }
    p {
        width: 80%;
        margin: auto;
        padding: 10px 0;
        line-height: 25px;
    }
}

.about-bottom-angle {
    border-color: transparent #ffffff;
    position: absolute;
}

// .parallax {
//     z-index: -2;
//     background-image: url('../images/hills.jpg');
//     height: 130vh;
//     // width: 89vw;
//     // margin-top: -10vh;
//     margin-left: 12vw;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: 100% -250px;
//     // overflow: hidden;
//     // position: fixed;
// }

// // RESUME 

// .resume-top-angle{
//     border-color: transparent #ffffff;
 
// }


// .resume__content {
//     min-height: 100vh;
//     background-color: white;
//     margin-top: -20px;
//     padding-bottom: 20px;
// }

// // CONTACT 


// .contact-bottom-angle {
//     // background-color: rgba(255, 255, 255, 0.7);
//     // height: 20vh;
//     border-color: rgba(255, 255, 255, 0.704) white;
// }

.contact-background {
    margin-left: 5vw;
    width: 95vw;
    height: 70vh;
    background-image: url('../images/IMG_8094.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: 48px 60%;
}

.contact-info__header {
  color: $colour-primary-text;
    width: 200px;
    margin-top: -45px;
    margin-left: 51.5%;
    letter-spacing: 3px;
}
.contact-info {
    // padding-top: 30vh;
    min-height: 23vh;
    margin-top: 7vh;
    background-color: rgba(255, 255, 255, 0.704);
    // height: 45vh;
    color: $color-secondary-text;
    // margin: auto;
    text-align: center;
    // margin-top: 30vh;
    
    p {
        // text-align: center;
        font-size: 20px;
    }

    .contact-info__icons {
        // text-align: center;
        a{
            color: $color-secondary-text;
        }
        
        i{
            margin-top: 20px;
            font-size: 40px;
        }
    }
}

.footer-link p {
    background-color: $color-secondary-text;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    bottom: 0;
    color: $colour-primary-text;
    font-size: 14px;
}
footer {
    bottom: 0;
    position: relative;
}
.portfolio-footer {
    margin-top: 100vh;
}

.icon {
    padding-left: 30px;

}

// .contact-info__header {
//     margin-top: 0;
//     text-align: center;
//     font-weight: 900;
//     font-size: 35px;
//     letter-spacing: 3px;
// }

// RESUME 
.resume-background {
    margin-left: 5vw;
    width: 95vw;
    height: 80vh;
    background-image: url('../images/IMG_7909.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: 0 78%;
    // color: $color-secondary-text;
}

.resume-title{
    color: $color-secondary-text;

    // margin: 0 30%;
    // margin-top: 0;
    // padding: auto;
    width: 200px;
    margin-top: -45px;
    margin-left: 50.5%;
    letter-spacing: 3px;
}

.resume {
    color: $color-secondary-text;
    line-height: 25px;
    margin: 0 30%;
    // display: flex;
    width: 50%;
    text-align: center;
  
    h3 {
        margin-top: 60px;
        letter-spacing: 3px;

    }

    .education {
        .education-content {
            margin: 15px;
        }

        .education-content h4, 
        .education-content p {
            padding: 0;
            margin: 0;
        }

        .education-year {
            font-style: italic;
        }
        // .education-year-city{
        //     display: flex;
        //     justify-content: space-around;
        //     padding: 0 20px;
        // }

    }

    .experience {
        .experience-content {
            margin: 15px;
        }
        .experience-content h4, 
        .experience-content p {
            padding: 0;
            margin: 2px;
        }

        .experience-position {
            font-weight: 600;
        }

        .experience-city {
            font-style: italic;
        }
    }
}

.skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .social-media {
        width: 40%;
    }

    .skills-social-media{
        display: flex;
        flex-wrap: wrap;
        i {
            width: 25%;
            font-size: 40px;
        }
    }
}

.language p {
   line-height: 10px;
   h4{
    //    margin-bottom: 10px;
   }
}

.hidden-social-media {
    display: none;
}

i:hover .hidden-social-media {
    display: block;
    background: rgba(128, 128, 128, 0.385);
    padding: 4px;
    border-radius: 4px;
    margin-top: 2px;
    font-size: 15px;
}
